body {
    width: 1450px;
    margin: auto;
  }

  header,
  nav,
  section,
  article,
  aside,
  footer {
    display: block;
    width: 1450px;
    margin: auto;
    padding: auto;
    /* background-color: whitesmoke; */
    text-align: center;
  }

  section {
    float: left;
    width: 1030px;
    height: 900px;
    background-color: antiquewhite;
  }
  article {
    width: 384px;
    background-color: #EFEFEF;
  }
  aside {
    float: left;
    width: 417px;
    height: 900px;
    background-color: whitesmoke;
  }
  footer {
    overflow:auto;
    /* background-color: beige; */
    height: 250px;
    width: 1445px;

  }

  #logo {
        position:relative;
        left: -500px;
        top: 80px;
  }

  ul {
    /* background-color: whitesmoke; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }

  #menu{
    margin-top: 18px;
  }

  li {float: left;}

  li a {
    display:block;
    /* background-color: whitesmoke; */
    color:#03c75a;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
  }

  li a.black{
    display:block;
    /* background-color: whitesmoke; */
    color:black;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    line-height: -5;
  }

  li a:hover {
    color: palegreen;
  }

  li a.black:hover {
    color: darkseagreen;
  }

  li details.more {
    display:block;
    /* background-color: whitesmoke; */
    color:black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    font-size: small;
  }

  #more_view{
    margin: 20px 0;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-gap: 50px;
		-moz-column-gap: 50px;
		column-gap: 50px;
    -webkit-column-rule: 4px solid rgba(196, 188, 188, 0.815);
			-moz-column-rule: 4px solid rgba(196, 188, 188, 0.815);
			column-rule: 4px solid rgba(196, 188, 188, 0.815);
  }

  summary{
    text-align: left;
  }

  input {
    width: 600px;
    height: 60px;
    padding: 13px 15px;
    margin: 1px;
    margin-left: -60px;
    margin-top: 25px;
    outline-color: #03c75a;
  }

  hr{
    color: gold;
  }