body {
  width: 1450px;
  margin: auto;
}

header,
nav,
section,
article,
aside,
footer {
  display: block;
  width: 1450px;
  margin: auto;
  padding: auto;
  /* background-color: whitesmoke; */
  text-align: center;
}


footer {
  overflow: auto;
  /* background-color: beige; */
  height: 250px;
  width: 1445px;
}

#logo {
  /*naver 로고*/
  position: relative;
  width: 200px;
  left: 130px;
  top: 80px;
  overflow: hidden;
}

ul {
  /*nav메뉴*/
  /* background-color: whitesmoke; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menu {
  /*nav메뉴*/
  margin-top: 18px;
}

li {
  float: left;
} /*nav 메뉴*/

li a {
  /*nav메뉴 초록글씨*/
  display: block;
  color: #03c75a;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

li a.black {
  /*nav메뉴 검정글씨*/
  display: block;
  color: black;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  line-height: -5;
}

#logo img {
  /*로고에 마우스오버시 확대*/
  transition: all 0.2s linear;
}

#logo:hover img {
  /*로고에 마우스오버시 확대*/
  transform: scale(1.05);
}

li a:hover {
  /*nav초록글씨 마우스오버*/
  color: palegreen;
}

li a.black:hover {
  /*nav검정글씨 마우스오버*/
  color: darkseagreen;
}

li details.more {
  /*더보기*/
  display: block;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  font-size: small;
}

#more_view {
  /*더보기구역 나누기*/
  margin: 20px 0;
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
  -webkit-column-rule: 4px solid rgba(196, 188, 188, 0.815);
  -moz-column-rule: 4px solid rgba(196, 188, 188, 0.815);
  column-rule: 4px solid rgba(196, 188, 188, 0.815);
}

summary {
  /*더보기 위치고정*/
  text-align: left;
}

input {
  /*검색창*/
  width: 600px;
  height: 60px;
  padding: 13px 15px;
  margin: 1px;
  margin-left: 200px;
  margin-top: 25px;
  outline-color: #03c75a;
}

.subm {
  /*돋보기아이콘*/
  background-color: transparent;
  border: 0;
  position: relative;
  top: 26px;
  right: 16px;
  bottom: 0;
  width: 56px;
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

#searchbox {
  /*검색창*/
  position: relative;
  width: 582px;
  height: 52px;
  border: 2px solid #19ce60;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* main */
main {
  background: #fff;
  min-height: 700px;
}
.main-container {
  width: 1450px;
  margin: auto;
  display: grid; /*가로세로 레이아웃*/
  grid-template-columns: 923px 513px;
  grid-template-rows: 135px 320px 1060px;
  gap: 10px; /* 구역간의 간격 */
}
.temp-box {
  /*로그인 영역*/
  background: white;
  width: 100%;
  height: 100%;
  /* font-size: 20px; */
  border: 1px solid #dee3eb;
  text-align: center;
}
.box-three {
  /*짧은이슈&뉴스스탠드*/
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  border: none; /* border를 지우고 3-1과 3-2에 각각 border를 적용해줍니다. */
}
.box-three > div:first-child {
  /*짧은이슈*/
  width: 100%;
  flex: 1; /* 공간차지비율 */
}
.box-three > div:last-child {
  /*뉴스스탠드*/
  width: 100%;
  flex: 8; /* 공간차지비율 */
}
.box-four {
  /*증시&ad*/
  display: flex;
  flex-direction: column;
  border: none;
}
.box-four > div:first-child {
  flex: 1; /*증시*/
}
.box-four > div:last-child {
  flex: 1; /*ad*/
}

.gap-box {
  /*구역간의 간격*/
  background: #fff;
  height: 10px;
}
.border-dee3eb {
  /*테두리*/
  border: 1px solid #dee3eb;
}

.link_1 {
  /*네이버를 시작페이지로*/
  font-size: 13px;
  color: black;
  text-decoration: none;
  padding: 15px;
}

a.link_1:hover {
  text-decoration: underline;
}

.link_2 {
  /*쥬니어네이버,해피빈*/
  font-size: 13px;
  color: #87c6c8;
  text-decoration: none;
  padding: 3px;
}

a.link_2:hover {
  color: #2c5f2d;
}

.issue {
  /*이슈*/
  float: left;
  margin-left: 10px;
  font-size: small;
}

.issue_direct {
  /*이슈 우측*/
  float: right;
  margin: 10px 20px 10px 10px;
  font-weight: 500;
  font-size: 15px;
  padding: 5px;
}

table {
  /*오늘읽을만한 글 주제목록표*/
  width: 923px; /* 표의 너비 */
  height: 60px;
  border: 1px solid #dcdcdc; /* 1픽셀짜리 표 테두리 */
  border-collapse: collapse; /* 중복되는 표와 셀의 테두리를 한 줄로 표시 */
  margin-top: 30px;
  font-weight: bold;
  font-size: 14px;
}

tr,
td {
  border: 1px solid #dcdcdc;
  width: 12.5%;
}

.read_table_ent {
  /*엔터*/
  text-decoration: none;
  color: black;
}

a.read_table_ent:hover {
  color: #ffb6c1;
}

.read_table_sport {
  /*스포츠*/
  text-decoration: none;
  color: black;
}

a.read_table_sport:hover {
  color: #ffa500;
}
.read_table_car {
  /*자동차*/
  text-decoration: none;
  color: black;
}

a.read_table_car:hover {
  color: #df75db;
}
.read_table_toon {
  /*웹툰*/
  text-decoration: none;
  color: black;
}

a.read_table_toon:hover {
  color: #86a5ff;
}
.read_table_eco {
  /*경제*/
  text-decoration: none;
  color: black;
}

a.read_table_eco:hover {
  color: #d7a35d;
}
.read_table_sub {
  /*추천/구독*/
  text-decoration: none;
  color: black;
}

a.read_table_sub:hover {
  color: #b578b5;
}
.read_table_rec {
  /*레시피*/
  text-decoration: none;
  color: white;
}

a.read_table_rec:hover {
  color: #161b21;
}
.read_table_liv {
  /*리빙*/
  text-decoration: none;
  color: black;
}

a.read_table_liv:hover {
  color: #41cdcd;
}

.rec_1 {
  /*오늘읽을만한 글-첫번째 사진*/
  width: 425px;
  height: 200px;
  padding: 5px;
  margin-top: 20px;
}

.rec_2 {
  /*오늘읽을만한 글-두번째 사진*/
  width: 30%;
  height: 150px;
  padding: 5px;
  margin-top: 20px;
}

.rec_3 {
  width: 100%;
  height: 130px;
  padding: 5px;
  margin-top: 20px;
}

.mall_title {
  margin: 0;
  padding: 0;
  color: #161b21;
}

/* .rec_1_text{ 
  margin-left: 24px;
  text-align: left;
  margin-top: 1px;
}

.rec_2_text{ 
  text-align: right;
} */

.rec_img {
  /*오늘 읽을만한 글 - 작은이미지들*/
  height: 114px;
  box-sizing: border-box;
  float: left;
  margin-left: 24px;
}

#noscroll::-webkit-scrollbar {
  /*스크롤바 안보이게*/
  display: none;
}

.login {
  /*로그인버튼*/
  font-size: large;
  font-weight: bolder;
  width: 471px;
  height: 55px;
  background-color: #03c75a;
  color: white;
  border: 2px solid #19ce60;
}

.item {
  /*오늘 읽을만한 글 목록*/
  margin-top: 18px;
}

.item_detail {
  text-align: left;
  margin-left: 210px;
  font-size: 12px;
}

.strong_title {
}

.strong_content {
  padding-right: 20px; /*오늘 읽을만한 글 목록*/
}

img {
  transition: all 0.2s linear;
}

.mid_img a:hover img,
.mid_img a:focus img {
  /*이미지에 마우스오버 시 확대*/
  transform: scale(1.05);
}

.item:hover img,
.item:focus img {
  /*이미지에 마우스오버 시 확대*/
  transform: scale(1.05);
}

/* .item .thumb_bd{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .06;
  filter: alpha(opacity=6);
  border: 1px solid #000;
} */

.news_table {
  /*오늘읽을만한 글 주제목록표*/
  width: 923px; /* 표의 너비 */
  border: 1px solid #dcdcdc; /* 1픽셀짜리 표 테두리 */
  border-collapse: collapse; /* 중복되는 표와 셀의 테두리를 한 줄로 표시 */
  margin-top: 30px;
  font-size: 14px;
}

.news_table_trtd {
  border: 1px solid #dcdcdc;
}

.news {
  float: left;
  margin-left: 20px;
  margin-top: 0;
  text-align: left;
  font-weight: 400;
}

p a.news {
  text-decoration: none;
  color: black;
  padding: 1px;
}

a.news:hover {
  text-decoration: underline;
}

#news_button {
  border: solid 2px #4063bd;
  border-radius: 30px;
  width: 185px;
  height: 35px;
  background-color: #4063bd;
  color: #fff;
  position: relative;
  top: -80px;
  font-weight: bold;
}
.mall_area {
  height: 23px;
}
.mall_link {
  float: left;
  line-height: 23px;
  color: #404040;
  padding: 0 50px 0 0;
  font-size: 13px;
  text-decoration: none;
}

a.mall_link:hover{
  text-decoration: underline;
}

.goods_link {
  float: left;
  line-height: 17px;
  color: #404040;
  font-size: 13px;
  text-decoration: none;
}

.trend {
  width: 150px;
  height: 150px;
  padding: 5px;
  margin-top: 10px;
}

/* .mall_title a:hover{
  text-decoration: underline;
} */

.notice_box {
  flex: 1;
  display: flex;
  justify-content: space-between; /* 양끝 정렬 */
  align-items: center;
  border-bottom: 1px solid #c8cace;
}

.notice {
  text-decoration: none;
  color: #202020;
  font-size: 13px;
  margin: 20px 5px 20px 0;
  font-weight: bold;
}
